html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

header, footer {
    background-color: #303F42;
}

footer > p {
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    padding: 24px;
    margin: 0;
}

nav {
    padding: 0 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

nav ul a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}

.logo {
    margin-right: auto;
    color:#809BFF;
}

.project-link {
    font-weight: bold;
}

#about {
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 24px;
}

#about h3, #about p {
    background-color: lightblue;
    padding: 24px;
}

#about img {
    border: 6px solid lightblue;
    border-radius: 50%;
    max-width: 300px;
}

#projects {
    text-align: center;
    background-color: lightblue;
    padding: 24px;
}

#contact {
    padding: 24px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.project-info {
    background-color: #98c6cf;
    border: 4px solid #008ebd;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 12px;
    width: 350px;
}

.project-info img {
    max-width: 300px;
}