html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-link {
    font-weight: bold;
}

#projects img {
    width: 630px;
    height: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}